/* GENERAL */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#body1 {
  background-image: url(../assets/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#body2 {
  background-image: url(../assets/fondoNegro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#body3 {
  background-image: url(../assets/fondogris.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: block;
}

/* BARRA DE NAVEGACION ------------------------------------------------------*/

.barra {
  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background-color: white;
  width: 75px;
  z-index: 1;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

.logo {
  display: flex;
  transition: all 0.5s ease;
  margin-left: 16px;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-top: 20px;
  border-radius: 20px;
}

a {
  color: #609966;
  position: relative;
  font-size: 14px;
  display: table;
  width: 300px;
  padding-bottom: 10px;
}

li a {
  color: #a4b494;
  text-decoration: none;
}

.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
  color: #609966;
}

.barra .nav-item-nombre {
  margin-left: 5px;
  position: relative;
  top: 12px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Charm", cursive;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #609966;
}

.barra .nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

#barra:hover {
  background: #eee;
}

.barra:hover {
  width: 230px;
  transition: all 0.5s ease;
  z-index: 1;
}

.inicio2 {
  position: absolute;
  top: 82%;
}

.registro {
  position: absolute;
  bottom: 7px;
}

.perfil {
  top: 82%;
  position: absolute;
}

/* CARRUSEL - home ----------------------------------------------------------------*/

.carrusel {
  margin-left: 10%;
}

/* BARRA DE BUSQUEDA - Inicio ------------------------------------------------------*/

.filtro {
  display: none;
}

/* PRODUCTOS -----------------------------------------------------------------------*/

.productos {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.producto {
  overflow: hidden;
  width: 20%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.9s;
  border: #07070718 2px solid;
}

.producto:hover {
  transform: translateY(-15px);
  box-shadow: -1px 7px 25px -3px rgba(96, 153, 102, 0.98);
}

.producto h1 {
  font-weight: bold;
  font-size: 15px;
  color: #4cbc00;
}

.producto img {
  width: 130px;
  width: 140px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.37);
}

.producto p {
  margin-top: 10px;
}

.producto .btn_compra {
  background-color: #4cbc00;
  width: 150px;
  color: white;
}

/* Modal COMPRAAAAAAAAAAA-----------------------------*/
.compra {
  border: rgba(255, 255, 255, 0.53) 2px solid;
  margin-top: 6%;
  border-radius: 10px;
  background-color: #9999990c;
}

.compra h1 {
  font-family: "Quicksand", sans-serif;
  margin-top: 15px;

}

.modal-header2 h1 {
  font-family: "Quicksand", sans-serif;

}

.modal-header2 {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}


.tituloREP {
  margin-top: 10%;
  font-family: 'Charm', cursive;
}

.modalCom {
  color: rgba(255, 255, 255, 0.749);
  text-align: center;
}


/* Modal PRODUCTOS--------------------------------------------------------------------------*/


.body-car {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p.price {
  margin: 10px 0;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-body .producto_img {
  width: 150px;
}

.modal-body h1 {
  font-size: 20px;
}

.modal-body .contenido {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-body .iconos {
  width: 30px;
}

.fa-regular {
  margin-top: 2px;
  margin-left: 80%;
  font-size: 30px;
  color: #609966;
}

.fa {
  font-size: 20px;
  margin-left: 25%;
}

/* Categorias ---------------------------------------------------------------------*/

.btn-categorias {
  width: 30%;
  margin-left: 5%;
  background-color: white;
  color: #609966;
  text-decoration: none;
  display: none;
}

.categorias {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoria-contenedor {
  margin-inline: 2%;
  transition: all 0.5s ease;
}

.descripcion {
  display: flex;
  justify-content: center;
  color: #198754;
}


.categoria img {
  z-index: 3;
}

.categoria-contenedor:hover {
  transform: scaleY(0.9);
}

.categoria-contenedor a {
  width: 90px;
  height: 90px;
  background-color: #609966;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 9px 8px 19px -3px rgba(96, 153, 102, 1);
}

.categoria-contenedor a img:hover {
  transform: scale(0.9);
}

.categoria-contenedor a img {
  width: 45%;
  margin-top: 28%;
  margin-left: 28%;
  transition: all 0.5s ease;
}

.categoria-contenedor .cate {
  background-color: #609966;
  position: relative;
  display: inline-block;
}

.categoria-contenedor span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  z-index: 3;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* Añadir blog -----------------------------------------------------------------*/

.insertar_blog img {
  width: 60px;
  position: fixed;
  float: right;
  z-index: 0;
  bottom: 80px;
  right: 50px;
  transition: transform 0.3s ease;
}

.insertar_blog img:hover {
  transform: scale(1.2);
}

#btn_add_blog {
  padding: 0%;
  margin-left: 0%;
  width: auto;
}

/*redes sociales--------------------------------------------------------------------------*/
.redes img {
  width: 40px;
  margin-bottom: 10px;
}

.redes {
  display: flex;
  flex-direction: column;
  position: fixed;
  float: right;
  z-index: 0;
  bottom: 20px;
  right: 60px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.redes img:hover {
  transform: scale(1.2);
}





/* Añadir CARRITO ------------------------------------------------------------*/

.table .titCarrito th {
  color: #609966;
}

.offcanvas-header {
  background-color: #60996605;
}

.offcanvas-header h5 {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  font-family: "Charm", cursive;
  color: #609966;
}

.offcanvas-header img {
  width: 40px;
  height: 40px;
}

/* boton carrito */

.comp_carrito {
  display: inline-flex;
  width: 30%;
  height: 40px;
  margin: 20px 0 40px 0;
  margin-inline: 2%;
  align-items: center;
  justify-content: center;
  background: #678663;
  color: #fff;
  transition: 0.3s ease all;
  border-radius: 3px;
  border: #678663 1px solid;
  overflow: hidden;
}

.comp_carrito::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: relative;
  z-index: 0;
  transition: 0.8s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}

.comp_carrito:hover span {
  color: #609966;
  z-index: 1;
}

.comp_carrito:hover::after {
  transform: scale(400);
  background: #fff;
}

/* Inventario empresa ---------------------------------------------------------- */

.inventarioEco {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloInv {
  color: aliceblue;
  font-family: "Charm", cursive;
  font-size: 38px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.tabla-inventario {
  width: 106%;
  max-height: 600px;
  overflow-y: auto;
  display: block;
}

table {
  width: 100%;
}

.titulos tr th {
  background-color: #609966;
  color: aliceblue;
  padding-left: 30px;
  padding-right: 30px;
}

#tabla-productos td {
  color: aliceblue;
  height: 60px;
  border-right: rgba(240, 248, 255, 0.075) 2px solid;
  background-color: #121212e1;
}

#tabla-usuarios td {
  color: aliceblue;
  height: 60px;
  border-right: rgba(240, 248, 255, 0.075) 2px solid;
  background-color: #121212e1;
}

.logoivt {
  width: 25%;
  margin-bottom: 20px;
}

/* botones inventario */

.btn_crud {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_invt {
  display: inline-flex;
  width: 12%;
  height: 40px;
  margin: 20px 0 40px 0;
  margin-inline: 2%;
  align-items: center;
  justify-content: center;
  background: #609966;
  color: #fff;
  transition: 0.3s ease all;
  border-radius: 3px;
  overflow: hidden;
}

.btn_invt::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: relative;
  z-index: 0;
  transition: 0.8s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}

.btn_invt:hover span {
  color: #609966;
  z-index: 1;
}

.btn_invt:hover::after {
  transform: scale(400);
  background: #fff;
}

/*nosotros y blogs---------------------------------------------------------------------*/


.box {
  margin-top: 2%;
  margin-left: 35%;
  background-color: white;
  width: 500px;
  height: 35px;
  border-radius: 40px;
  box-shadow: 5px 5px 15px #609966;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

input {
  width: 140px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.fa-magnifying-glass:hover {
  color: #a4b494;
  cursor: pointer;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.nosotros_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading h3 {
  margin-top: 4%;
  color: #609966;
  font-size: 40px;
  font-family: "Charm", cursive;
}

.blog_in {
  width: 100%;
  height: 10%;
  border-radius: 10px;
}

.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-container {
  margin-left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 340px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  height: 580px;
  box-shadow: 5px 5px 15px #609966;
}

.blog-box2 {
  width: 340px;
  background-color: white;
  margin: 0 20px;
  border-radius: 10px;
  height: 420px;
  box-shadow: 5px 5px 15px #609966;
}

.blog-box:hover {
  transform: translateY(-15px);
  box-shadow: -1px 7px 25px -3px rgba(96, 153, 102, 0.98);
}

.blog-img {
    margin: 50px 0 0 0;
}

.blog-text {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.blog-textN {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
}

.nosotros-img img{
  margin-top: 40px;
}

.vision img{
  margin-top: 60px;

}

.blog-text2 {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.blog-text span {
  color: #a4b494;
  font-family: "Charm", cursive;
}

.blog-text2 span {
  color: #a4b494;
  font-family: "Charm", cursive;
}

.blog-text .blog-titulo .blog-text2 {
  font-weight: 500;
  color: #609966;
}

.blog-text .blog-titulo:hover {
  color: #a4b494;
  transition: all ease 0.3s;
}

.blog-text p {
  color: #a4b494;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text2 p {
  color: #a4b494;
  margin: 20px 0px;
}

.blog-textN p {
  color: #a4b494;
  margin: 20px 0px;
}

.blog-text h2 {
  color: #609966;
  display: -webkit-box;
  font-size: 25px;
  font-family: "Charm", cursive;
  margin-top: 6%;
}

.blog-text2 h2 {
  color: #609966;
  font-family: "Charm", cursive;
  display: -webkit-box;
  margin-top: 6%;
}

.blog-textN h2 {
  color: #609966;
  font-size: 25px;
  font-family: "Charm", cursive;
  display: -webkit-box;
}

.blog h3 {
  color: #609966;
  font-size: 40px;
  font-family: "Charm", cursive;
  font-weight: bold;
}

.blog-heading {
  color: white;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.blog-text .blog-text2 a {
  color: #609966d5;
  text-align: center;
}

.blog-text a:hover {
  color: #a4b494;
  transition: all ease 0.02s;
}


/* insertar blog  -----------------------------------------------------------------*/
.contenido_blog {
  font-size: 15px;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
}

.textarea h1 {
  left: 10px;
  margin-bottom: 10px;
  top: 50%;
  font-family: "Quicksand", sans-serif;
  color: #9999997e;
  font-size: 18px;
  transition: 0.3s;
}

.nosotros_cards {
  transition: all 1s;
}

.nosotros_cards:hover {
  transform: translateX(20px);
}

/*formularios ----------------------------------------------------------------------*/

.login-contenedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.login-contenedor img {
  height: 100px;
}

.login-contenedor h2 {
  margin: 15px 0;
  color: #609966;
  text-transform: uppercase;
  font-family: "Charm", cursive;
  font-size: 2.9rem;
}

.formulario {
  width: 360px;
  margin-left: 70px;
}

.avatar {
  width: 100px;
}

form h2 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  margin: 15px 0;
  color: #609966;
}

.login-contenedor .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-contenedor .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div>div {
  position: relative;
  height: 45px;
}

.input-div>div>h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-40%);
  font-family: "Quicksand", sans-serif;
  color: #999;
  opacity: 0.4;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus>div>h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus>.i>i {
  color: #609966;
}

.input-div>div>input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.btnForms {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #609966, #609966, #609966);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnForms span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnForms:hover span {
  margin: 0 15% 0 0;
}

.btnForms .ini_ico {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 60%;
  transition: 0.3s ease-in-out all;
}

.btnForms svg {
  color: #fff;
  width: 30px;
  height: 30px;
}

.btnForms:hover .ini_ico {
  left: calc(89%);
}

.btnForms .registro_ico {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 64%;
  transition: 0.3s ease-in-out all;
}

.btnForms:hover .registro_ico {
  left: calc(89%);
}

.btnForms .actu_ico {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 64%;
  transition: 0.3s ease-in-out all;
}

.btnForms:hover .actu_ico {
  left: calc(89%);
}

.btnForms .blog_ico {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 64%;
  transition: 0.3s ease-in-out all;
}

.btnForms:hover .blog_ico {
  left: calc(89%);
}



/* blog_insertar -----------------------------------------------------------------*/

.cancelar img {
  width: 10px;
}

/* boton switch */

.lbl-switch {
  display: inline-block;
  width: 55px;
  height: 30px;
  background: #ffffff;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

#btn-switch:checked~.lbl-switch {
  background: #609966;
}

.lbl-switch:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background: #aaa;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}

#btn-switch:checked~.lbl-switch:after {
  left: 28px;
  background: #fff;
}

#btn-switch {
  display: none;
}

.barra-responsive {
  display: none;
}

.iconos img {
  padding: 6px;
}

.imagen img {
  width: 30%;
}

.imagen p {
  flex-direction: row;
  margin-top: 3px;
  color: white;
}

.opaco {
  width: 100%;
  height: 100%;
  border-color: #4cbc00;
}

.info_productos {
  width: 20%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-top: 10%;
}

.info_productos img {
  width: 70%;
}

.info_productos h1 {
  font-size: 18px;
  color: #4cbc00;
  font-weight: bold;
}

.info_productos .texto {
  margin-left: 40px;
}

.logo .cerrar_barra {
  padding-right: 30px;
  display: none;
}

.producto:hover {
  transform: translateY(-15px);
  box-shadow: -1px 7px 25px -3px rgba(96, 153, 102, 0.98);

}

.producto h1 {
  font-weight: bold;
  font-size: 15px;
  color: #4CBC00;
}

.producto img {
  width: 130px;
  height: 140px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.37);
}

.producto p {
  margin-top: 10px;
}

.producto .btn_compra {
  background-color: #4CBC00;
  width: 150px;
  color: white;
}

/*Estadisticas ------------------------------------------------------------------*/
<<<<<<< HEAD
.estadisticas{
    display: flex;
    justify-content: center;   
}
.statics{
    display: flex;
    justify-content: center;   
}
.statics2{
    width: 10%;
    height: 10%;
    margin-top: 5%;
    margin-left: 2%;
    background-color: #999; 
=======
.estadisticas {
  display: flex;
  justify-content: center;
>>>>>>> 232eedc3fc8c2524494c42d3f2564305a99fdba6
}

.statics {
  display: flex;
  justify-content: center;
  margin-bottom: 12%;

}

.statics2 {
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-left: 2%;
  border: #609966 1px solid;
}

.statics p {
  color: white;
  margin-left: 35%;
}

h3 {
  color: #609966;
  text-align: center;
}

.barras {
  width: 25%;
  height: 480px;
  margin-top: 5%;
  margin-left: 2%;
  color: #38d39f;

}

.barras h3 {
  text-align: center;
  margin-top: 2%;
  font-family: 'Quicksand', sans-serif;
}

.barras p {
  color: white;
  margin-left: 10%;
  font-family: 'Quicksand', sans-serif;
}

.barra2 {
  margin-bottom: 4%;
  width: 80%;
  margin-left: 10%;

}

.progress-bar {
  border-left: 25%;
}

.table col {
  color: white;
}

/*perfil --------------------------------------------------------------------------*/

.container h1 {
  color: white;
  font-size: 30px;
  font-family: 'Charm', cursive;
}

<<<<<<< HEAD
.info-container{
    width: 60%;
    display: flex;
    margin: 4rem auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
=======
.container2 h1 {
  font-family: 'Charm', cursive;
>>>>>>> 232eedc3fc8c2524494c42d3f2564305a99fdba6
}

.info-container {
  width: 60%;
  display: flex;
  margin: 4rem auto;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Quicksand', sans-serif;



}

.left-side {
  margin-right: 7rem;

}

.profile-container {
  width: 140px;
  margin: auto;
  height: 140px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-icon {
  height: 100%;
  border-radius: 50%;
}


.right-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.container {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

.title {
  font-size: 28px;
  font-weight: 100;
  margin-right: 1rem;
}

.edit-profile {
  margin-right: 1rem;
  padding: 5px 10px;
  width: auto;
  border: 1px solid #609966;
  background-color: #609966;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  margin-top: 5px;
}

.icon-wheel {
  height: 30px;
  cursor: pointer;
}

.info-content {
  margin-right: 1rem;
  font-weight: 300;
}

.high {
  font-weight: 600;
  margin-right: 5px;
  color: #609966;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.low {
  font-weight: 500;
  color: gray;
  opacity: 0.5;
  margin: 0.2rem 0;
}

.grid-images {
  display: grid;
  width: 50%;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 35%;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: space-between;
}

.image-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 3%;
}

.image {
  width: 100%;
  height: 100%;
}

.barra-navegacion {
  height: 40px;
  width: 70%;
  margin: 0 auto;
  border-top: 2px solid #609966;
  margin-top: 2rem;
  padding: 0 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

<<<<<<< HEAD
.item{
    
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #609966;
    position: relative;
    line-height: 40px;
    height: 40px;
}

.barra-navegacion .item:first-of-type::after{
    content: "";
    height: 2px;
    width: 100%;
    top: -1px;
    left: 0;
    position: absolute;
    background-color: white;
=======
.item {

  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #609966;
  position: relative;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
}


.barra-navegacion .item:first-of-type::after {
  content: "";
  height: 2px;
  width: 100%;
  top: -1px;
  left: 0;
  position: absolute;
  background-color: white;
>>>>>>> 232eedc3fc8c2524494c42d3f2564305a99fdba6
}

.contenedorIn {
  margin-left: 62%;
  margin-top: 3%;
}

.login-contenedor {
  margin-top: 2%;
  margin-left: 62%;
}
.table{
  padding: 3px;
}
.table th{
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.table tbody{
  color: #609966;
}

<<<<<<< HEAD

@media screen and (min-width:320px) and (max-width:620px){

    /* Barra */

    .barra-responsive{
        background-color: #fff;
        align-items: center;
        display: flex;
        z-index: 0;
        box-shadow: 0 20px 35px rgba(88, 88, 88, 0.1);
    }

    .barra-responsive .nav-item-nombre-responsive{
        font-weight: bold;
        font-size: 25px;
        font-family: 'Charm', cursive;
        padding: 15px;
        text-transform: uppercase;
        color:#609966;
    }

    .barra-responsive {
        display: block;
        align-items: center;
        display: flex;
    }

    .logo .cerrar_barra{
        display: block;
    }

    #barra{
        background: #eee; 
     }
     
    .barra{
         width: 230px;
         transition: all 0.5s ease;
         z-index: 1;
    }


    /*blog/nosotros---------------------------------------------------------*/
    .barra{
        display: none;
    }

    .box{
        margin: 15px auto;
        width: 280px;
        height: 35px;
    }
    
    .blog{
        display: flex;
        justify-content: center;
    }
    .blog-box{
        width: 280px;
        background-color: white;
        margin: 20px;
        border-radius: 10px;
        height: 550px;
        box-shadow: 5px 5px 15px #609966;
    }
    .blog-box2{
        width: 280px;
        background-color: white;
        margin: 20px;
        border-radius: 10px;
        height: 450px;
        box-shadow: 5px 5px 15px #609966;
    }
   
    .insertar_blog img{
        width: 45px;
        right: 10px;
    }
  /*carrusel----------------------------------------------------------------------------*/
    .carousel{
        display: none;
    }
 /*categorias----------------------------------------------------------------------------*/
    .categorias{
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categoria a{
        width: 40px;
        height: 50px;
    }
    .btn-categorias{
        width: 30%;
        margin-left: 5%;
        background-color: white;
        color: #609966;
        text-decoration: none;
    }
    
    .categoria-contenedor a {
      width: 50px;
      height: 50px;
      
    }

 /*productos----------------------------------------------------------------------------*/
    .productos{
        margin: 10% auto;

        
    }

    .producto{
        overflow: hidden;
        width: 90%;
    }

    /*perfil*/

    .info-container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .left-side{
        margin: auto;
    }
    
    .profile-container{
        width: 100px;
        height: 100px;
    }
    
    
    .right-side{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    .container2{
        justify-content: center;
        margin-bottom: 1.4rem;
        margin-top: 5%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .title{
        font-size: 20px;
        margin: auto;
        margin-bottom: 1%;
    }
    
    .edit-profile{
        margin-right: 1rem;
        padding: 5px 10px;
        width: auto;
        margin:  auto;
    }

    .info-content span{

        font-weight: 300;
        margin: auto;
    }
    
    .description-container{
        align-items: center;
        font-size: 12px;
        margin-bottom: 1%;
    }
    
    
    .barra-navegacion{
        height: 40px;
        width: 90%;
    }
    
    
    .barra-navegacion .item:first-of-type::after{
        content: "";
        height: 1px;
        width: 100%;
        top: -1px;
        left: 0;
        position: absolute;
        background-color: white;
    }
    
    .table{
        padding: 3px;
    }
    .table th{
        
        color: white;
        font-family: 'Quicksand', sans-serif;
    }
    .table tbody{
        color: #609966;
    }

    /* Inicio de sesion */

    #body3 {
        background-image: none;
        background-color: #fff;
    }

    .login-contenedor{
        margin-left: 0%;
    }
    
    .login-contenedor form{
        margin: auto;
        width: 290px;
        margin-top: 40px;
    }

    .btnForms .ini_ico{
        display: none;
    }

    /* registro */

    .btnForms .registro_ico{
        display: none;
    }

    .btnForms .actu_ico{
        display: none;
    }

    .btnForms .blog_ico{
        display: none;
    }

    .btnForms:hover span{
        margin: 0%;
    }

    /*Estadisticas ------------------------------------------------------------------*/
  .estadisticas{ 
    flex-direction: column; 
    margin-left: 5%;
  }
  
  .statics2{
    width: 35%;
    height: 35%;
    background-color: #6099664e; 
  }

  

  .barras{
    margin: 5% auto;
    width: 90%;
    height: 400px;
    margin-top: 5%;
    margin-left: 2%;
    background-color: #6099664e;  
  }
  
          
=======
.table {
  padding: 3px;
}

.table th {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.table tbody {
  color: #609966;
}

.botonMas {
  font-size: 22px;
  color: white;
  font-family: 'Charm', cursive;
  width: 0px;
}


.oculto {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 280px;
  position: fixed;
  top: 2%;
  left: 80%;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  padding: 20px 15px;
  color: white;
  border-radius: 4px;
  z-index: 9999;

}

.oculto img {
  margin-right: 10px;

}


.mostrar {
  transform: translateX(-20%);
}


/* Estilos del botón desplegable */
.sort {
  position: relative;
  float: right;
  right: 15%;
  z-index: 0;
}

.sort2 {
  position: relative;
  margin-left: 70%;
  z-index: 0;
  margin-top: 2%;
}

.dropbtn {
  width: 100px;
  height: 35px;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #609966;
  padding: 5px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* Transición en el color de fondo */
}

/* Estilos de la lista desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9c4;
  min-width: 100px;
  margin-top: 2px;
  margin-left: 40px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 3;
  transition: opacity 0.3s ease;
  /* Transición en la opacidad */
}

.dropdown-content button {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background-color 0.5s ease;
  /* Transición en el color de fondo */

}

.dropdown-content button:hover {
  background-color: #3e8e419d;
  color: white;
}

.sort:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.sort:hover .dropbtn {
  background-color: #3e8e419d;
  color: white;
}

.sort2:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.sort2:hover .dropbtn {
  background-color: #3e8e419d;
  color: white;
}

/* carrusel usuario */

.cuerpo-carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:first-child {
  left: -21px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card-invt, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.carousel.dragging .card-invt {
  cursor: grab;
  user-select: none;
}

.carousel .card-invt {
  scroll-snap-align: start;
  height: 390px;
  list-style: none;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-invt .img {
  background: #609966;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-invt .img img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card-invt h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 8px 0 5px;
}

.card-invt .rol {
  color: #609966;
  font-size: 1.11rem;
}

.btninvt {
  padding: 5px 10px 5px 10px;
  margin-inline: 4px;
  border-radius: 6px;
}

.eliminar {
  background-color: white;
  color: #609966;
  border: #609966 solid 2px;
}

.actualizar {
  background-color: #609966;
  color: white;
}

/* Formularios inventarios */

.crud-invt {
  display: flex;
}

.btn-invt {
  background-color: #609966;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.actualizar-invt .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.formulario-act{
  width: 300px;
  margin: auto;
}

.actualizar-invt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #121212e1;
  /* width: 420px; */
  margin-bottom: 40px;
  margin-right: 40px;
}

.invt-responsive {
  overflow-y: auto;
  max-height: 420px;
}

.actualizar-invt img {
  height: 100px;
}

.actualizar-invt h2 {
  margin: 1px 0;
  color: #609966;
  text-transform: uppercase;
  font-family: "Charm", cursive;
  font-size: 2.9rem;
  margin-top: 30px;
}

.actualizar-invt {
  width: 360px;

  /* margin-left: 40px; */
}

.contenido-inventario {
  display: none;
}



/* Inventario Repartidor */

.btn-insert {
  background: #609966;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  transition: all 0.9s;
}

.btn-insert:hover {
  transform: translateY(-5px);
}

.btn-insert img {
  width: 20px;
  height: 25px;
}

.tabla-repartidor {
  border: #609966 solid 1px;
}

.inventario-repartidor {
  display: none;
}

.det-rep {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin: 10px 0;
}

.det-rep img {
  align-self: center;
  width: 100px;
  height: 100px;
}

.det-rep p {
  align-self: center;
  width: 200px;
  margin: 0;
}

.nombre-inventario {
    color: #ffffff;
    font-size: 50px;
    font-family: "Charm", cursive;
    font-weight: bold;
  }

.blog-textN p{
  margin-top: 0;
}



@media screen and (max-width:900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width:600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


@media screen and (min-width:320px) and (max-width:620px) {

  .actualizar-invt {
    width: 280px;
    margin-left: 0;
  }

  .formulario-act {
    margin: 0;
  }

  /* Barra */

  .barra-responsive {
    background-color: #fff;
    align-items: center;
    display: flex;
    z-index: 0;
    width: 102%;
    box-shadow: 0 20px 35px rgba(88, 88, 88, 0.1);
  }

  .barra-responsive .nav-item-nombre-responsive {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Charm', cursive;
    padding: 15px;
    text-transform: uppercase;
    color: #609966;
  }

  .barra-responsive {
    display: block;
    align-items: center;
    display: flex;
  }

  .logo .cerrar_barra {
    display: block;
  }

  #barra {
    background: #eee;
  }

  .barra {
    width: 230px;
    transition: all 0.5s ease;
    z-index: 1;
  }


  /*blog/nosotros---------------------------------------------------------*/
  .blog-img {
    margin: 100px 0 0 0
  }


  .barra {
    display: none;
  }

  .box {
    margin: 15px auto;
    width: 280px;
    height: 35px;
  }

  .blog {
    display: flex;
    justify-content: center;
  }

  .blog-box {
    width: 280px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    height: 590px;
    box-shadow: 5px 5px 15px #609966;
  }

  .blog-box2 {
    width: 280px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    height: 541px;
    box-shadow: 5px 5px 15px #609966;
  }

  .insertar_blog img {
    width: 45px;
    right: 10px;
  }

  /*carrusel----------------------------------------------------------------------------*/
  .oculto {
    left: 25%;
  }

  /*carrusel----------------------------------------------------------------------------*/
  .carousel {
    display: none;
  }

  /*categorias----------------------------------------------------------------------------*/
  .categorias {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categoria a {
    width: 40px;
    height: 50px;
  }

  .btn-categorias {
    width: 30%;
    margin-left: 5%;
    background-color: white;
    color: #609966;
    text-decoration: none;
  }

  .categoria-contenedor a {
    width: 50px;
    height: 50px;

  }

  .categoria-contenedor p {
    font-size: 11px;
  }

  /*productos----------------------------------------------------------------------------*/
  .productos {
    margin: 10% auto;
    font-weight: 300;
    margin: auto;
  }

  .description-container {
    align-items: center;
    font-size: 12px;
    margin-bottom: 1%;
  }


  .barra-navegacion {
    height: 40px;
    width: 90%;
  }

  .barra-navegacion .item:first-of-type::after {
    content: "";
    height: 1px;
    width: 100%;
    top: -1px;
    left: 0;
    position: absolute;
    background-color: white;
  }

  .table {
    padding: 3px;
  }

  .table th {

    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .table tbody {
    color: #609966;
  }

  .producto {
    overflow: hidden;
    width: 90%;
  }

  /*perfil*/

  .info-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .left-side {
    margin: auto;
  }

  .profile-container {
    width: 100px;
    height: 100px;
  }


  .right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .container2 {
    justify-content: center;
    margin-bottom: 1.4rem;
    margin-top: 5%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 20px;
    margin: auto;
    margin-bottom: 1%;
  }

  .edit-profile {
    margin-right: 1rem;
    padding: 5px 10px;
    width: auto;
    margin: auto;
  }

  .info-content span {

    font-weight: 300;
    margin: auto;
  }

  .description-container {
    align-items: center;
    font-size: 12px;
    margin-bottom: 1%;
  }


  .barra-navegacion {
    height: 40px;
    width: 90%;
  }


  .barra-navegacion .item:first-of-type::after {
    content: "";
    height: 1px;
    width: 100%;
    top: -1px;
    left: 0;
    position: absolute;
    background-color: white;
  }

  .table {
    padding: 3px;
  }

  .table th {

    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .table tbody {
    color: #609966;
  }

  /* Inicio de sesion */

  #body3 {
    background-image: none;
    background-color: #fff;
  }

  .login-contenedor {
    margin-left: 0%;
  }

  .login-contenedor form {
    margin: auto;
    width: 290px;
    margin-top: 40px;
  }

  .btnForms .ini_ico {
    display: none;
  }

  /* registro */

  .btnForms .registro_ico {
    display: none;
  }

  .btnForms .actu_ico {
    display: none;
  }

  .btnForms .blog_ico {
    display: none;
  }

  .btnForms:hover span {
    margin: 0%;
  }

  /*Estadisticas ------------------------------------------------------------------*/
  .estadisticas {
    flex-direction: column;
    margin-left: 5%;
  }

  .statics2 {
    width: 35%;
    height: 35%;
    background-color: #6099664e;
  }

  .barras {
    margin: 5% auto;
    width: 90%;
    height: 450px;
    margin-top: 5%;
    margin-left: 2%;
  }

  /* Inventario empresa */

  .logoivt {
    width: 150px;
  }

  .tabla-inventario {
    display: none;
  }

  .contenido-inventario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 260px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
  }

  .datos-producto {
    margin-left: 10px;
  }

  .contenido-inventario img {
    width: 110px;
    height: 110px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.651);
  }

  .contenido-inventario h2 {
    font-size: 20px;
  }

  .iconos-invt {
    display: flex;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px rgb(114, 112, 112) solid;
  }

  .nombre-pro {
    font-weight: bold;
  }

  .precio-pro {
    color: rgba(0, 0, 0, 0.623);
    font-weight: bold;
    font-size: 20px;
  }

  .boton-pro {
    padding: 10px;
    margin-inline: 4px;
  }

  .elimi {
    background: #198754;
    color: white;
    border-radius: 8px;
  }

  .actu {
    border: 2px solid #198754;
    border-radius: 8px;
    background: white;
  }


  /* Formularios inventario */

  .crud-invt {
    flex-direction: column;
  }

  .actualizar-invt {
    flex-direction: column;
    width: 3;
    margin: auto;
    margin-bottom: 40px;
  }

  .actualizar-invt .inpu-div{
    width: 200px;
  }

  .actualizar-invt h2 {
    font-size: 35px;
  }

  .btn-invt {
    margin-right: 8%;
  }

  .cuerpo-carrusel {
    width: 270px;
  }

  .input-ingresar {
    width: 230px;
    margin-left: 35px;
  }

  .card-invt .name {
    font-size: 13px;
  }

  .nombre-inventario {
    color: #ffffff;
    font-size: 50px;
    font-family: "Charm", cursive;
    font-weight: bold;
  }
  

  /* Estilos del botón desplegable */
  .sort {
    margin-top: 5%;
    margin-bottom: 5%;
    right: 33%;
  }

  .sort2 {
    right: 35%;
  }

  .dropbtn {
    width: 100px;
    height: 35px;
  }

  /* Estilos de la lista desplegable */
  .dropdown-content {
    min-width: 100px;
    margin-top: 2px;
    margin-left: 90px;
  }

  /* Repartidor responsive */

  .inventario-repartidor {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .contenido-repartidor {
    background-color: #fff;
    width: 270px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
  }

  .nombre-rep {
    font-size: 15px;
    font-weight: bold;
  }

  .boton-rep {
    padding: 5px 10px;
    margin-top: 15px;
  }

  .usu-repartidor {
    width: 80px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 50%;
  }

  .btn-insert {
    margin-left: 70%;
  }

  p.correo-invt {
    font-size: small;
  }

  /* redes */

  .redes {
    right: 10px;
  }

  .redes img {
    width: 35px;
    margin-bottom: 10px;
  }

>>>>>>> 232eedc3fc8c2524494c42d3f2564305a99fdba6
}